.blog-header{
  margin:0;
  padding:0;
  border:0;
  height:250px;
  .fl-row-content-wrap{
    height: inherit;
    .blog-title{
      margin-top: 100px;
      .fl-node-content{
        .fl-heading{
          color:#fff;
          font-size:40px;
          text-transform: capitalize;
        }
      }
    }
  }
}
.blog-nav{
  .popular_categories{
    ul{
      list-style:none;
      margin:0;
      padding:0;
      li{
        display: inline-block;
        a{
          display:block;
          padding: 20px 12px;
          text-decoration:none;
          border-bottom: 2px solid transparent;
          &:focus{
            outline:none;
          }
        }
      }
    }
    @media(max-width:$tablet){
      display:none;
    }
  }
  @media(max-width:$tablet){
    .category-column{
      display:none
    }
    .search-column{
      width:100%;
      text-align:center;
      padding: 10px 0 20px;
    }
  }
  #searchform{
    display: inline-block;
    margin-top:12px;
    width: 100%;
    input[type=text]{
      height:34px;
      width: calc(100% - 40px);
      border: 0;
      padding-left: 10px;
      &:focus{
        outline:none;
      }
    }
    button[type=submit]{
      background:none;
      border:0;
      color: #999999;
      height: 34px;
      padding: 5px;
      width: 34px;
      cursor: pointer;
      &:focus{
        outline:none;
      }
    }
  }
}
.blog-archive, .search-results {
  .fl-post-feed{
    .fl-post-feed-post{
      max-width: 900px;
      margin: 0 auto;
      padding:0;
      display: block;
      border: 0;
      border-radius: 5px;
      background: #f0f7fd;
      margin-bottom: 50px;
      .fl-post-image{
        .post-featured-image {
			height: 300px;
			opacity:0;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			text-indent: -999999px;
			-webkit-transition: all 0.1s ease;
			-moz-transition: all 0.1s ease;
			-o-transition: all 0.1s ease;
			transition: all 0.1s ease;
          @media(max-width: $mobile){
            height:250px;
          }
          @media(max-width: $mobile-sm){
            height:160px;
          }
        }
      }
      .fl-post-text{
        padding:20px;
        .fl-post-title{
          font-size: 24px;
          line-height: 1.1;
          margin: 0 0 20px;
          padding: 0;
          a{
            text-decoration:none;
          }
        }
        .fl-post-meta{
          padding-bottom: 20px;
          color: #333333;
          font-size: 18px;
          font-weight: 400;
          font-style: italic;
          text-transform: capitalize;
          a{
            text-decoration: none;
          }
        }
        .fl-post-excerpt{
          p{
            margin: 0 5px 0;
            color: #073451;
            font-size: 16px;
            line-height: 1.4;
          }
        }
        .fl-post-more-link{
          margin-top:20px;
          a{
            @extend .blog-button;
          }
        }
        .social{
          margin: 0 0 20px;
          max-width: 50%;
          div.nc_socialPanel{
            margin: 0 !important;
            .nc_tweetContainer{
              height: 28px;
              margin: 0 5px 0 0;
              a{
                height: 28px;
                .sw{
                  height: 28px;
                  line-height: 28px;
                }
                span.swp_share{
                  height: 28px;
                  line-height: 28px;
                }
              }
            }
          }
          @media(max-width: $mobile){
            max-width: 100%;
          }
        }
      }
      @media(max-width:$mobile){
        max-width:100%;
      }

    }
  }
}
.single-post-header{
  .fl-row-content-wrap{
    height:300px;
  }
}
.single-post-content{
  .fl-row-content-wrap{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    .fl-module-content{
      color: #073451;
      h2,h3,h4{
        margin-top:20px;
        margin-bottom:10px;
      }
      h2{
        font-size: 32px;
        line-height: 36px;
      }
      h3{
        font-size: 24px;
        line-height: 30px;
      }
      blockquote {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        border-left: 5px solid #E2E2E2;
        font-size: 18px;
        line-height: 22px;
        p{
          font-size: inherit;
        }
      }
      p{
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.4;
      }
      div.nc_socialPanel{
        width: 60% !important;
        margin: 0 auto 20px !important;
        @media(max-width: $tablet){
          width: 70% !important;
        }
        @media (max-width: $mobile) {
          width: 100% !important;
        }
      }
    }
    .single-post-button{
      .fl-button-wrap{
        a{
          @extend .blog-button;
          span, &:focus, &:visited{
            color: #fff;
          }
        }
      }
    }
  }

}



// Blog button

.blog-button{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  padding: 10px 40px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  display:inline-block;
  &:hover{
    color:#fff;
  }
}
