.custom-archive{
    .fl-module-content{
        .fl-post-feed{
            width: 100%;
            display: block;
            float: left;
            .fl-post-feed-post{
                width: 100%;
                height: 290px;
                display: block;
                float: left;
                background: #f6f6f6;
                padding-bottom: 0;
                margin-bottom: 40px;
                box-shadow: 5px 5px 16px 0 rgba(0,0,0,.09);
                .fl-post-image{
                    width: 50%;
                    height: 100%;
                    float: left;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    @media (max-width: 820px) {
                        display: none;
                    }
                }
                .fl-post-text{
                    padding: 30px;
                    width: 50%;
                    height: 100%;
                    float: left;
                    h3{
                        font-style: italic;
                        a {
                            color: inherit;
                            line-height: 32px;
                            font-size: 26px;
                            font-weight: 400;
                        }
                    }
                    .fl-post-excerpt {
                        padding-bottom: 15px;
                        line-height: 24px;
                    }
                    @media (max-width: 820px) {
                        display: block;
                        margin: 0 auto;
                        float: none;
                    }
                    @media (max-width: $mobile_sm) {
                        display: block;
                        width: 100%;
                    }
                }
                @media (max-width: 820px) {
                    height: auto;
                }
            }
            .fl-post-feed-post:nth-child(even){
                .fl-post-image{
                    float: right;
                }
            }
        }
    }
}
.custom-archive-2{
	.fl-post-grid{
		.fl-post-grid-post{
			position: relative;
			padding-bottom: 85px;
			border: 0;
			.fl-post-text{
				padding-bottom: 0;
				.post-subtitle{
					font-size: 18px;
					text-transform: uppercase;
					margin: 0;
					line-height: 1.3;
					margin-bottom: 5px;
				}
				.fl-post-title{
					font-size: 32px;
					display: block;
					margin-bottom: 20px;
					padding: 0;
					a{
						text-decoration: none;
						display: inline-block;
					}
				}
				.fl-post-excerpt{
					p{
						display: block;
						margin: 0;
						line-height: 1.5;
					}
				}
				.fl-post-more-link{
					position: absolute;
					bottom: 20px;
					left: 20px;
					right: 20px;
					a{
						padding: 12px 24px;
						font-size: 16px;
						text-transform: uppercase;
						text-align: center;
						text-decoration: none;
						display: block;
						border-radius: 5px;
						line-height: 1.4;
						transition: all 0.2s linear;
						span,i{
							display: inline-block;
							vertical-align: middle;
						}
						i{
							margin-left: 8px;
						}
					}
				}
			}
		}
	}
}
