.blog-archive-2{
	.pp-posts-wrapper{
		.pp-content-post-grid{
			height: auto !important;
			.pp-content-post{
				position: relative !important;
				top: 0 !important;
				padding-bottom: 60px;
				.pp-post-featured-img{
					.fl-photo{
						position: relative;
						padding-top: 80%;
						.fl-photo-content{
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							a{
								display: block;
								width: 100%;
								height: 100%;
								&.no-object-fit{
									img{
										height: auto !important;
									}
								}
								img{
									height: 100% !important;
									object-fit: cover;
								}
							}
						}
					}
				}
				.pp-post-content{
					display: block;
					margin: 0;
				}
				.pp-content-grid-more-link{
					position: absolute;
					bottom: 20px;
					margin: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
body.paged{
	.blog-archive-2{
		.pp-posts-wrapper{
			.pp-content-post-grid{
				.pp-content-post{
					&:first-child{
						margin-right: 3%;
						width: 48.5%;
						height: inherit;
						@media(max-width: 600px){
							width: 100%;
							margin-right: 0;
						}
					}
					&:nth-of-type(2n){
						margin-right: 0;
					}
					&:nth-of-type(2n + 1){
						margin-right: 3%;
					}
				}
			}
		}
	}
}
body:not(.paged){
	.blog-archive-2{
		.pp-posts-wrapper{
			.pp-content-post-grid{
				.pp-content-post{
					&:first-child{
						height: auto !important;
						width: 100%;
						margin-right: 0;
						.pp-content-post-data {
							padding: 0 20px;
						}
						.pp-post-featured-img{
							.fl-photo{
								position: relative;
								padding-top: 0;
								.fl-photo-content{
									position: relative;
									a{
										display: block;
										width: 100%;
										height: 100%;
										img{
											height: 100% !important;
											width: 100% !important;
											object-fit: cover;
										}
									}
								}
							}
						}
					}
					&:nth-of-type(2n){
						margin-right: 3%;
						@media(max-width: 600px){
							margin-right: 0;
						}
					}
					&:nth-of-type(2n + 1){
						margin-right: 0;
						clear: none;
					}
				}
			}
		}
	}
}
.blog-sidebar{
	.fl-col-content{
		box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px 2px;
	}
	.recent-posts{
		.fl-post-feed{
			.fl-post-feed-post,.fl-post-text{
				padding: 0;
			}
		}
	}
}